* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.app-container {
    position: relative;
    min-height: 100vh;

    main {
        padding: 3rem;

        li {
            padding: 2rem;

            .update-btn {
                padding: 2rem 0;
            }

            #select-list {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 100%;
                min-height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;

                ul {
                    display: flex;

                    button {
                        padding: .5rem 1rem;
                        font-size: 1.2rem;
                        color: inherit;
                    }

                    #yes-btn {
                        background-color: red;
                    }

                    #no-btn {
                        background-color: green;
                    }
                }
            }
        }
    }
}


// COMMON
.d-none {
    display: none!important;
}

.error {
    font-weight: bold;
    color: red;
}