* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

main {
    padding: 3rem;

    li {
        padding: 2rem;

        .update-btn {
            padding: 2rem 0;
        }
    }
}